.answer{
  display: none;
}

body{
  background-image: url("../img/background.jpg");
  text-align: center;
  background-repeat: round;
}

.questions{
  margin-top: 50px;
}

p{
  font-weight: bolder;
  font-size: 30px;
  background-color: #c89bff;
  margin: 0 25% 0 25%;
  border: 5px ridge #8e32ff;
}

label{
  font-weight: lighter;
}

.label{
  padding-left: 25px;
  color: orange;
  font-size: 20px;
}

input:hover{
  cursor: pointer;
}

.jumbotron {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ff7fbd;
  border: 5px ridge #c211d6;
}

.button{
  padding-top: 25px;
  padding-bottom: 50px;
  font-weight: bold;
}
